
html {
  max-width: 100%;
  margin:auto;
  font-family: 'Roboto', sans-serif;
  background-color: #FFD8CC;
}
body {
  margin: 0;
}

a {
  padding-left: 10px;
}
.nav {
  text-align: right;
  padding: 15px 20px;
}

#hero {
display: flex;
}

header {
  font-style: italic;
  color: #03256C;
  margin: 50px;
  padding: 30px;
}

#header-text h1 {
  display: inline;
}
#emphasis {
  color: #FFFFFF;
  margin-right: 1rem;
}

img {
  max-width: 200px;
  float: right;
  border-radius: 10%;
}

h1 {
  color: #03256C;
}

h2 {
  color: #03256C;
}

p {
  color: #03256C;
}

.container {
  flex-flow: row wrap;
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.backgroundDecal {
  height: 400px;
  background-color: #B8DFD8;
  position: absolute;
  z-index: -1;
  width: 100%;

}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 50%;
  align-items: center;
}

.form-item {
  padding-bottom: 10px;
}

.form {
  color: #03256C;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-item label {
  width: 20%;
}

.form-item input {
  width: 70%;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  color: #03256C;
}

.item {
  width: 90%;
  margin: auto;
}

@media (max-width: 500px) {
  .item {
    flex: 0 1 auto;
    /* width: 100%; */
    align-self: center;
  }
  header {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
  #hero {
    flex-direction: column;
  }
}

@media (min-width: 501px) {
  .item {
    flex: 0 1 auto;
    /* width: 45%; */
    align-self: center;
  }
  .form {
    margin-left: 70px;
  }
   header { font-size: 50px; }
   #hero {
    flex-direction: row;}
}


  